body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page__container {
  display: grid;
  height: 100vh;
  width: 100vw;
  place-content: center;
  background-color: bisque;
  overflow: hidden;
}

.signIn__container {
    display: grid;
}

.game__container {
  display: none;
  background-color: red;
  height: 100vh;
  width: 100vw;
  place-content: center;
  grid-auto-flow: column;
  gap: 1rem;
}

.player__container {
  border: 3px solid blue;
  height: 300px;
  width: 200px;
}

/* .card {
  display: grid;
  grid-auto-flow: column;
}

.deck__container {
    background-color: lightcyan;}

.shuffle__container {
    background-color: lightgoldenrodyellow;
} */
